body {
    border: 10px solid black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  input {
    display: block;
    margin: 0 0 15px 0;
  }
  
  button {
    border-radius: 10px;
  }
  
  button:hover {
    background-color: grey;
  }
  
  footer {
    position: fixed;
    bottom: 0px;
    left: 850px;
  }
  